<!DOCTYPE html>

<html>
<head>
  <title> Vacation Finder </title>
 <link rel="stylesheet" type="text/css" href = "style.css">
  </head>

  <body>
    
    <h1> Welcome to our Vacation Finder
    </h1>
    <p>
Welcome to our wonderful vacation finder!
      Just click the link below, and it will take you to a vacation quiz. The quiz will ask you a series of questions, that when completed
</p>
<p>
At ius liber delicata abhorreant. Quaeque definiebas et his. Iusto senserit laboramus mea an, ea iudico utroque vix, novum imperdiet reprimique ut sed. Illum libris recusabo vim ad, vix an porro iudico legendos. Cu altera voluptaria eam. Paulo option epicurei ut his, mei et facer dicta ubique
</p>
    <a href="/quiz">Click Here to Start</a>
   <footer>
Created by Pietro Costa, Hal Rockwell, and Rehan Mannan
</footer> 
  </body>
</html>