<!DOCTYPE html>

<html>
<head>
  <title> Vacation Finder </title>
 <link rel="stylesheet" type="text/css" href = "style.css">
  </head>

  <body>
    
    <h1> Welcome to our Vacation Finder
    </h1>
    
    <a href="/quiz">Click Here to Start</a>
    
  </body>
</html>