<!DOCTYPE html>
<html>
<body>


  
  <form action="">
<input type="checkbox" name=" value="Mountain">Mountains<br>
<input type="checkbox" name=" value="Beach">Beaches<br>
<input type="checkbox" name=" value="Urban">Urban<br>
<input type="checkbox" name=" value="Rural">Rural<br>

</form>

</body>
</html>