<!DOCTYPE html>
<html>
<head>
  <title> Vacation Quiz </title>
   <link rel="stylesheet" type="text/css" href = "style.css">
  </head>
  <body>


  
  <form action="">
<input type="checkbox" name="mountain" value="Mountain">Mountains<br>
<input type="checkbox" name="beach" value="Beach">Beaches<br>
<input type="checkbox" name="urban" value="Urban">Urban<br>
<input type="checkbox" name="rural" value="Rural">Rural<br>

    <input type="submit" name="submit" value="Submit">
    
</form>
</body>
</html>