<!DOCTYPE html>
<html>
<head>
  <title> Vacation Quiz </title>
   <link rel="stylesheet" type="text/css" href = "style.css">
  </head>
  <body>
    <h2> Please complete the following quiz
    </h2>

  
<<<<<<< HEAD
  <form action="/results" method= "post">
=======
    <form action="/results" method= "post">

 How expensive should the hotel be?
 <br> 
<input type="radio" name="price_range" value="cheapest">Cheapest<br>
<input type="radio" name="price_range" value="not_too_cheap">Not too cheap<br>
<input type="radio" name="price_range" value="not_too_expensive">Not too expensive<br>
<input type="radio" name="price_range" value="most_expensive">Most expensive<br>

  <br>   
  What kind of area should the place be in?
  <br>    
>>>>>>> 6b44dd723d7ca0c836318498258df4ce410e9763
<input type="radio" name="place_type" value="mountain">Mountains<br>
<input type="radio" name="place_type" value="beach">Beaches<br>
<input type="radio" name="place_type" value="urban">Urban<br>
<input type="radio" name="place_type" value="rural">Rural<br>
<br>
      
<br>
<input type="radio" name="climate" value="tropical">Tropical<br>
<input type="radio" name="climate" value="dry">Dry<br>
<input type="radio" name="climate" value="temperate">Temperate<br>
<input type="radio" name="climate" value="cold">Cold<br>
<br>
      
<br>
<<<<<<< HEAD
<input type="radio" name="price_range" value="cheapest">Cheapest<br>
<input type="radio" name="price_range" value="not_too_cheap">Not too cheap<br>
<input type="radio" name="price_range" value="not_too_expensive">Not too expensive<br>
<input type="radio" name="place_range" value="most_expensive">Most expensive<br>
<br>

=======
<input type="radio" name="continents" value=1>Americas<br>
<input type="radio" name="continents" value=2>Asian<br>
<input type="radio" name="continents" value=3>Africa<br>
<input type="radio" name="continents" value=4>Europe<br>
<br>
  Should the people there speak english?(mostly)
<br>
<input type="radio" name="language" value="english">Yes<br>
<input type="radio" name="language" value="other">No<br>
      
>>>>>>> 6b44dd723d7ca0c836318498258df4ce410e9763
      <input type="submit" name="submit" value="submit"><br>
      
      </form>
</body>
</html>