<!DOCTYPE html>
<html>
<head>
  <title> Vacation Quiz </title>
   <link rel="stylesheet" type="text/css" href = "style.css">
  </head>
  <body>
    <h2> Please complete the following quiz
      </h2

  
  <form action="">
<input type="checkbox" name="mountain" value="Mountain">Mountains<br>
<input type="checkbox" name="beach" value="Beach">Beaches<br>
<input type="checkbox" name="urban" value="Urban">Urban<br>
<input type="checkbox" name="rural" value="Rural">Rural<br>
<br>
      
<br>      
<input type="checkbox" name="climate1" value="tropical">Tropical<br>
<input type="checkbox" name="climate2" value="dry">Dry<br>
<input type="checkbox" name="climate3" value="temperate">Temperate<br>
<input type="checkbox" name="climate4" value="cold">Cold<br>
<input type="checkbox" name="climate5" value="polar">Polar<br>
    
</form>
</body>
</html>