<!DOCTYPE html>
<html>
<head>
  <title> Vacation Quiz </title>
   <link rel="stylesheet" type="text/css" href = "style.css">
  </head>
  <body>
    <h2> Please complete the following quiz
      </h2

  
  <form action="">
<input type="radio" name="place_type" value="mountain">Mountains<br>
<input type="radio" name="place_type" value="beach">Beaches<br>
<input type="radio" name="place_type" value="urban">Urban<br>
<input type="radio" name="place_type" value="rural">Rural<br>
<br>
      
<br>      
<input type="radio" name="climate" value="tropical">Tropical<br>
<input type="radio" name="climate" value="dry">Dry<br>
<input type="radio" name="climate" value="temperate">Temperate<br>
<input type="radio" name="climate" value="cold">Cold<br>
<br>
      
<br>
<input type="radio" name="price_range" value="">Cheapest<br>
<input type="radio" name="price_range" value="">Not too cheap<br>
<input type="radio" name="price_range" value="">Not too expensive<br>
<input type="radio" name="place_range" value="">Most expensive<br>
<br>

      <input type="submit" name="submit" value="submit"><br>
      
      </form>
</body>
</html>