<!DOCTYPE html>
<html>
<head>
<style>
header {
    background-color:#558C89;
    color:white;
    text-align:center;
    padding:5px;	 
}

section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:#D9853B;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
</style>
</head>
<body>

<header>
<h1>Test Site</h1>
</header>

<nav>
blah<br>
Blah<br>
BLAH<br>
</nav>

<section>
<h1>Test Page</h1>
<p>
Est in labore placerat, mei eu solum quaerendum. Eum iudico ignota delicata an, id aeterno docendi blandit pri. Diam hinc qui at, qui quodsi suscipit ea, fugit graecis concludaturque in pri. Has ne magna tollit timeam, ut vidit tincidunt expetendis per. Cu eos eirmod eligendi, at ceteros oporteat eos.
</p>
<p>
At ius liber delicata abhorreant. Quaeque definiebas et his. Iusto senserit laboramus mea an, ea iudico utroque vix, novum imperdiet reprimique ut sed. Illum libris recusabo vim ad, vix an porro iudico legendos. Cu altera voluptaria eam. Paulo option epicurei ut his, mei et facer dicta ubique
</p>
</section>

<footer>
Created by Pietro Costa, Hal Rockwell, and Rehan Mannan
</footer>

</body>
</html>